<div class="container col-md-10">

  <div class="mb-3 col-md-11">
    <h2 class="form-label mt-3">Renk ara</h2>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
  </div>
  <div *ngIf="filterText" class="alert alert-primary">
    {{filterText}} aradınız
  </div>

  <div class="col-md-11 mb-3" >
    <button *ngIf="claimControlService.checkRoleColorAdd()"  mat-flat-button color="primary"  routerLink="/colors/add">Renk Ekle</button>
  </div>

  <div class="row col-md-11">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let color of colors | colorFilter:filterText" [value]="color" routerLink="/cars/color/{{color.id}}">
        <div class="row">
          <div class="col-md-9" >
            <p class="pt-2">{{color.name}}</p>
          </div>
          <div class="col-md-3">
           <button *ngIf="claimControlService.checkRoleColorUpdate()" mat-flat-button color="primary" routerLink="/colors/{{color.id}}/edit">Güncelle</button>
           <button *ngIf="claimControlService.checkRoleColorDelete()" mat-flat-button color="primary" style="float:right" (click)="deleteColor(color)">Sil</button>
          </div>
        </div>

      </mat-list-option>
    </mat-selection-list>
  </div>
</div>


