<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marka</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let color of colors">
      <td scope="row">{{color.id}}</td>
      <td>{{color.name}}</td>
    </tr>
  </tbody>
</table> -->

<div class="container col-md-10">
  <div class="row">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let color of colors" [value]="color" routerLink="/car/color/{{color.id}}">
          {{color.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>


