<div class="container mt-3">



  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Boş Bırakılamaz">

        <ng-template matStepLabel>Tarih Bilgileri</ng-template>
        <div class="card mt-50 mb-50">
          <div class="card-title mx-auto mb-5" style="color: black;"> Tarih </div>
          <form [formGroup]="firstFormGroup">
              <div class="row-1">
                  <div class="row row-2"> <span id="card-inner">Şirket Adı</span> </div>
                  <div class="row row-2"> <input type="text" placeholder="Örn Kazanlar" formControlName="companyName" [(ngModel)]="customer.companyName"> </div>
              </div>
               <span id="card-header" style="color:black;">Aracı Kiralayacağınız Tarih:</span>
              <div class="row-1">
                  <div class="row row-2"> <span id="card-inner">Kiralama Tarihi</span> </div>
                  <div class="row row-2"> <input type="datetime-local" formControlName="rentDate"> </div>
              </div>
              <span id="card-header" style="color:black;">Aracı Teslim Edeceğiniz Tarih:</span>
              <div class="row-1">
                <div class="row row-2"> <span id="card-inner">Teslim Tarihi</span> </div>
                <div class="row row-2"> <input type="datetime-local" formControlName="returnDate"> </div>
              </div>
              <button matStepperNext class="btn d-flex mx-auto" (click)="paymentFee()"><b>İleri</b></button>
          </form>
      </div>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup" errorMessage="Boş Bırakılamaz">
      <ng-template matStepLabel>Kart Bilgileri</ng-template>
      <div class="card mt-50 mb-50">
        <div class="card-title mx-auto" style="color: black;"> Ödeme </div>
        <div class="nav">
            <ul class="mx-auto">
                <li class="active"><a href="#">Kredi Kartı</a></li>
            </ul>
        </div>
        <form [formGroup]="secondFormGroup">
          <div *ngIf="creditCards.length > 0">
            <span id="card-header" style="color: black;">Kayıtlı Kartlar:</span>
            <div class="row row-1" style="padding:0" *ngFor="let creditCard of creditCards">
              <div (click)="savedCard(creditCard,content)" style="cursor: pointer;" class="col-md-10">
                <div class="row">
                  <div class="col-2" ><img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /></div>
                  <div class="col-md-10" style="color:black;text-align:center;padding-top: 13px;"><strong>{{creditCard.nameOnTheCard}} {{creditCard.cardNumber}}</strong></div>
                </div>
              </div>
              <div (click)="removeCard(creditCard)" class="col-2 d-flex justify-content-center" style="border-top-right-radius: 5px;background-color: crimson;cursor: pointer;"><div style="color: white;font-weight: bold;padding-right: 7px;">Kartı Sil</div> </div>
            </div>
          </div>

            <span id="card-header" style="color:black;">Yeni Kart İle Ödeme Yap:</span>
            <div class="row-1">
                <div class="row row-2"> <span id="card-inner">Kart Sahibi</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Ad Soyad" formControlName="nameOnTheCard"> </div>
            </div>
            <div class="row-1">
              <div class="row row-2"> <span id="card-inner">Kart Numarası</span> </div>
              <div class="row row-2"> <input type="text" placeholder="1234 5678 9101 2131" formControlName="cardNumber"> </div>
            </div>
            <div class="row">
              <div class="row-1" style="width: 170px;">
                <div class="row row-2"> <span id="card-inner">Son Kullanma Tarihi</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Ay/Yıl" formControlName="expirationDate"> </div>
              </div>
              <div class="row-1" style="width: 170px;margin-left: 145px;">
                <div class="row row-2"> <span id="card-inner">CVV</span> </div>
                <div class="row row-2"> <input type="text" placeholder="***" formControlName="cvv"> </div>
              </div>
            </div>
            <mat-card *ngIf="payment > 0" class="mt-3" style="background-color: cadetblue;font-weight: bold;">Ödenecek Tutar <span style="float:right;font-weight: bold;">{{payment}} ₺</span></mat-card>
            <button class="btn d-flex mx-auto" (click)="open(content)"><b>Ödemeyi Tamamla</b></button>
        </form>
    </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title"><strong>Bize Yardımcı Ol</strong></h2>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3 class="mt-3">Aracı Kiralayabilmen İçin Findeks Puanını Sorgulamamız Gerekir</h3>
    <div class="row row-2"> <span id="card-inner">TC Kimlik Numaranız</span> </div>
    <input type="text" class="form-control" placeholder="11 Haneli TC" id="tc" name="tc" [(ngModel)]="creditNote.tc">
  </div>
  <div class="modal-footer">
    <div class="col-md-12 row">
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Kapat</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-dark" (click)="addBank();close(content);cardRegistrationQuestion(contentt)">Sorgula</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentt let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title"><strong>Kredi Kartını Kaydetmek İstiyor Musun ?</strong></h2>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12 row">
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Hayır</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-dark" (click)="cardSaved();close(contentt);">Evet</button>
      </div>
    </div>
  </div>
</ng-template>





