 <!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marka</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands">
      <td scope="row">{{brand.id}}</td>
      <td>{{brand.name}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let brand of brands">
    {{brand.name}}
  </mat-list-option>
</mat-selection-list> -->
<!--
<div class="container">
  <div class="col-md-9 ">
    <mat-card *ngFor="let brand of brands" class="mt-1">{{brand.name}}</mat-card>
  </div>
</div> -->
<div class="container col-md-10">

  <div class="mb-3">
    <h2 class="form-label mt-3">Marka ara</h2>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
  </div>
  <div *ngIf="filterText" class="alert alert-primary">
    {{filterText}} aradınız
  </div>

    <div class="row">
      <mat-card class="example-card mt-3 me-md-3"  *ngFor="let brand of brands | brandFilter:filterText">
        <mat-card-header>
          <mat-card-title>{{brand.name}}</mat-card-title>
          <mat-card-subtitle>Kiralık {{brand.name}} Araçları</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="brand.image">
          <button mat-raised-button color="primary" routerLink="/cars/brand/{{brand.id}}">Görüntüle</button>
      </mat-card>
  </div>
</div>



