    <div class="container">
      <div class="col-md-9 row mx-auto justify-content-center align-items-center flex-column">
      <mat-card class="card-header text-center mt-3"><h3><b>{{car.brandName}} {{car.description}}</b></h3></mat-card>
      <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let carImage of carImages let i = index" [ngClass]="getSliderClassName(i)">
                <img src="{{imageUrl}}{{carImage.imagePath}}" class="d-block w-100" width="800" height="400" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
       <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Marka"> <p class="mt-3">{{car.brandName}}</p> </mat-tab>
        <mat-tab label="Model"> <p class="mt-3">{{car.modelYear}}</p> </mat-tab>
        <mat-tab label="Renk"> <p class="mt-3">{{car.colorName}}</p> </mat-tab>
        <mat-tab label="Kira Fiyatı"> <p class="mt-3">{{car.dailyPrice}}</p> </mat-tab>
        <mat-tab label="Açıklama"> <p class="mt-3">{{car.description}}</p> </mat-tab>
      </mat-tab-group>
    </div>
      </div>
    </div>

