<div class="container">
  <div class="col-md-12">

    <mat-card class="example-card mt-3">
      <div class="col-md-6 mx-auto justify-content-center align-items-center flex-column" style="padding-left: 100px;">
        <mat-card-header>
          <mat-card-title class="mb-4 mt-3" style="padding-left: 120px;">Renk Ekle</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="colorAddForm">

            <div class="form-group">
              <mat-form-field class="example-form-field">
                <mat-label>Renk Adı</mat-label>
                <input matInput type="text" id="name" formControlName="name"/>
              </mat-form-field>
            </div>

        </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" style="margin-left:350px" (click)="add()" >Ekle</button>
        </mat-card-actions>
      </div>
    </mat-card>

  </div>
</div>



