<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marka Adı</th>
      <th scope="col">Renk Adı</th>
      <th scope="col">Kira Fiyatı</th>
      <th scope="col">Açıklaması</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td scope="row">{{car.id}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.dailyPrice}}</td>
      <td>{{car.description}}</td>
      <td><img src="{{imageUrl}}/{{car.imagePath}}" alt=""></td>
  </tbody>
</table> -->


<div class="container col-md-10">
  <div class="row">
    <mat-card class="example-card mt-3 me-md-3"  *ngFor="let car of cars">
      <mat-card-header>
        <mat-card-title>{{car.brandName}} {{car.description}}</mat-card-title>
        <mat-card-subtitle>Kiralık {{car.brandName}} Araçları</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{imageUrl}}{{car.imagePath}}">
        <button mat-raised-button color="primary">Görüntüle</button>
    </mat-card>
    <h1 *ngIf="control == true" class="mt-5">Fitreye Uygun Araç Bulunamadı</h1>
</div>
</div>
