<div  *ngIf="isLogged() == false">
  <button mat-raised-button color="accent" routerLink="/login" style="margin-left: 20px;">Giriş Yap</button>
  <button mat-raised-button color="warn" routerLink="/register" style="margin-left: 10px;">Kayıt Ol</button>
</div>
<div style="padding-left: 20px;" *ngIf="isLogged() == true">
  <button mat-raised-button [matMenuTriggerFor]="menu">
    <span class="material-icons" style="margin-right:5px">account_circle</span>
    {{authService.getCurrentUser().unique_name}}</button>
  <mat-menu #menu="matMenu">

    <button *ngIf="isAdmin" mat-menu-item><span style="margin-left: 25px;"> Admin </span></button>

    <button mat-menu-item routerLink="/profileEdit">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" style="margin-right: 5px;" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      Profilimi Düzenle
    </button>
    <button mat-menu-item (click)="logOut()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" style="margin-right: 5px;" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
      Çıkış Yap</button>
 </mat-menu>
</div>

